################################################################################################
# This .gitignore file ignores all hybris-commerce 6.2 default folders based on Best Practices #                                             #                                                                                              #
# Additionally, it allows shared customisation in the following directores                     #
#     hybris/bin/custom                                                                        #
#     hybris/bin/yretail                                                                       #
#     installer/recipes/<custom-recipe>                                                        #
#                                                                                              #
# Add installers outside the custom folder in the following way                                #
#     !/installer/recipes/<my-custom-recipes>/                                                 #
#                                                                                              #
# Configuration for different environments should be included in a build.gradle recipe         #
#                                                                                              #
# '!/xx/yy' can be used to  to include sub-folder in the Git repository                        #
# It is important to avoid ignoring any of the parent folders of a non-ignored sub-folder      #
################################################################################################


######################
#       HYBRIS       #
######################
bin/platform/**
bin/modules/**
bin/ext**
config/**
data/**
log/**
temp/**


====================
#      Licence     #
====================
config/**
!config
!config/buildcallbacks.xml
!config/licence/
!config/customize

====================
#   Custom-Ext     #
====================
!bin
!environments
/environments/custom/**

!bin/custom/
!/impex/*



====================
#   MySQL_Driver   #
====================
!/hybris/bin/platform/
/hybris/bin/platform/*
!hybris/bin/platform/lib/
/hybris/bin/platform/lib/*
!/hybris/bin/platform/lib/dbdriver/
/hybris/bin/platform/lib/dbdriver/*

!hybris/bin/platform/lib/dbdriver/mysql-connector-java-5.1.36.jar



=================================================================================
#   Fix known issue in backoffice see https://jira.hybris.com/browse/ECP-2057   #
=================================================================================
!/hybris/bin/ext-backoffice/backoffice/resources/backoffice-widgets.xml
!/hybris/bin/ext-backoffice/commerceservicesbackoffice/resources/perspective/organization/organization-backoffice-widgets.xml
!/hybris/bin/ext-backoffice/warehousingbackoffice/resources/warehousingbackoffice-backoffice-widgets.xml
!/hybris/bin/ext-backoffice/commerceservicesbackoffice/resources/commerceservicesbackoffice-backoffice-widgets.xml

============================
#   ASM SAP NOTE 2562156   #
============================
!/hybris/bin/ext-commerce/assistedservicefacades/resources/assistedservicefacades-spring.xml


#####################
# Folders to ignore #
#####################
/src/**
/licenses/**
**/web/testclasses
**/classes/**
**/gensrc/**
**/jalo/
!**/testsrc/**/jalo/

###############################
# Filename patterns to ignore #
###############################
#-------------#
# Hiden files #
#-------------#
**/*.bak
**/*.eml
**/*.swp
**/*.project
#---------#
# Schemas #
#---------#
**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
#------#
# xmls #
#------#
**/ruleset.xml
**/*testclasses.xml
**/bin/**/build.xml

#-------------------#
# logs & properties #
#-------------------#
**/*.log
**/base.properties
**/platformhome.properties
!**/custom/**/base.properties

#------#
# Java #
#------#
**/Generated*.java
**/*.class
**/*hmc.jar



################################
#  Addon specific copy folders #
################################
**/addonsrc
**/_ui/addons/
**/views/addons/
**/tld/addons/
**/tags/addons/
**/messages/addons/
**/*storefront/web/addonsrc/
**/*storefront/web/commonwebsrc/
**/*storefront/web/webroot/*cockpit/
**/*_bof.jar
**/node_modules
**/web/webroot/WEB-INF/lib/addon-*.jar
**/web/webroot/WEB-INF/_ui-src/addons/
**/web/webroot/WEB-INF/views/addons/
wro_addons.xml

bin/custom/yb2bacceleratorstorefront/**

######################
# OS generated files #
######################
**/.DS_Store
**/ehthumbs.db
**/Thumbs.db
**/hybris-*.zip

#####################
# IDE Related files #
#####################
#---------#
# Eclipse #
#---------#
.settings/
.metadata/
**/eclipsebin/*

#----------#
# IntelliJ #
#----------#
/idea-module-files/**
.idea
*.iws
*.iml
*/hybris4intellij.properties
**/HawkEye.jar